/* Global CSS Reset and global variables*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --primary10: #0d0e0b;
  --primary20: #2b2b2b;
  --primary30: #696969;
  --primary40: #848484;
  --primary50: #a0a0a0;
  --primary60: #b7b8b6;
  --primary70: #c9cac8;
  --primary80: #eeeeee;
  --primary90: #fcfcfc;
  --primary100: #ffffff;
  --accentLight: #e8bf4a;
  --accentDark: #dea128;
  --sun: #fdd016;
  --logoAccent: #a9dbc9;
  --logoAccentDark: #5b7b70;
  --navText: #a5a5a5;
  --subtitleText: #333333;
  --icon: #b9b9b9;
  --titleBrown: #6c411e;
  --footerBackground: #f9f9f9;
  --heroBackground: #ced0d7;
}

html {
  height: 100%;
  font-size: 16px;
  background: var(--primary100);
  background-size: 224px;
}

body {
  height: 100vh;
  width: 100vw;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  color: var(--primary60);
  display: flex;
  justify-content: center;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  border-radius: 12px;
}

#root,
#__next {
  isolation: isolate;
}

p {
  font-weight: 200;
  font-size: 14px;
}

.app {
  width: 80vw;
  margin: 10vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.search-result {
  margin-top: 10px;
  overflow: scroll;
}

.surprise {
  background-color: var(--sun);
  border-radius: 12px;
  color: var(--primary10);
  font-weight: 600;
  padding: 4px 12px;
  margin: 0 0 2px 5px;
  border: none;
}

.input-container {
  width: 100%;
  display: flex;
  border: solid 0.5px var(--primary70);
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 82, 0.15) 0 2px 4px;
  overflow: hidden;
}

.input-container input {
  width: 90%;
  padding: 13px 14px;
  font-size: 15px;
  outline: none;
  font-weight: 200;
  border: none;
}

.input-container input::placeholder {
  color: var(--primary50);
  font-weight: 200;
}

.input-container button {
  min-width: 10%;
  border: none;
  border-left: 1px solid var(--primary70);
  background-color: var(--accentLight);
  color: var(--primary10);
  font-weight: 700;
  cursor: pointer;
}

.input-container button:active {
  background-color: var(--accentDark);
}

.answer {
  padding: 13px 14px;
  border: solid 0.5px var(--primary70);
  background-color: var(--primary90);
  margin: 5px;
  font-size: 15px;
  font-weight: 200;
  border-radius: 6px;
}
